<div class="container" align='center'>
    <h1><%= @exam.title %> Student Results </h1>
</div>

<div class="container" align='center'>
    <table class="table table-hover">
        <tr>
            <th>Student Name</th>
            <th>Score</th>
        </tr>
        <% @exam.students.each do |student| %>
            <tr>
                <td><%= link_to student.firstName + " " + student.lastName, student_path(student)%></td>
                <td><%=(@exam.student_exam_results.where(student_id: student.id).first.marksObtained.to_f / @exam.totalMarks.to_f * 100).round%>%</td>
            </tr>
        <% end %>
    </table>
</div>

<!-- Exam Show View (/exams/1):
Update the exam show view to show the percentage of mark Obtained achieved by all students in that exam. -->
 
